.board {
    border: 1px solid lightgray;
    display: grid;
    color: #BBB;
    grid-template-columns: 1fr;

    .deck {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin-top: 15px;
        border-top: 2px solid #ccc;
    }
    
    .board-row {
        display: flex;
        justify-content: space-between;
    }

    .board-grid {
        width: 400px;
    }
    
    .grid-cell {
        background: white;
        border: 1px solid lightgray;
        height: 80px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .unit-selection-modal, .unit-configuration-modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        border: 1px solid gray;
        padding: 10px;
        z-index: 100;
        width: 90%; /* Default width for mobile */
    
        /* Adjust modal width for larger screens */
        @media (min-width: 576px) { /* Bootstrap's breakpoint for SM screens */
            width: 70%;
        }
    
        @media (min-width: 768px) { /* Bootstrap's breakpoint for MD screens */
            width: 50%;
        }
    
        @media (min-width: 992px) { /* Bootstrap's breakpoint for LG screens */
            width: 40%;
        }
    }
    
    .unit-selection-modal {
        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
            li {
                cursor: pointer;
                padding: 5px;
                margin: 5px;
                flex-basis: calc(50% - 10px); /* Default for mobile */
    
                @media (min-width: 576px) { /* Bootstrap's breakpoint for SM screens */
                    flex-basis: calc(33% - 10px);
                }
    
                @media (min-width: 768px) { /* Bootstrap's breakpoint for MD screens */
                    flex-basis: calc(25% - 10px);
                }
    
                text-align: center;
    
                &:hover {
                    background: lightgray;
                }
            }
        }
    }
    
    .unit-configuration-modal {
        z-index: 101; /* One level higher than .unit-selection-modal */
    }    

    .board-stats {
        margin-top: 10px;

        p,
        ul {
            margin: 0;
            padding: 0;
        }
    }

    .unit {
        position: relative;
    
        .unit-tooltip {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 50%;
            padding: 2px 5px;
            font-size: 0.8rem;
            font-weight: bold;
    
            &.top-left {
                top: 5px;
                left: 5px;
            }
    
            &.top-right {
                top: 5px;
                right: 5px;
            }
        }
    
        &.Engineer .unit-tooltip {
            color: red;
        }
    
        &.Cultist .unit-tooltip {
            color: black;
        }

        &.DemonHunter .unit-tooltip {
            color: purple;
        }

        &.BladeDancer .unit-tooltip {
            color: orangered;
        }

        &.BladeDancer .unit-tooltip {
            color: yellow;
        }

        &.Dryad .unit-tooltip {
            color: green;
        }

        &.Monk .unit-tooltip {
            color: orange;
        }
    }    

}