.unit-talent-configuration-modal .mb-3:not(:last-child) {
    border-bottom: 1px solid lightgray;
    padding-bottom: 1rem; /* Give some space between the border and the content above */
}

.custom-radio-switch {
    display: flex;
    align-items: center; /* To vertically align items */
}

.unit-configuration-modal {
    z-index: 101; /* One level higher than .unit-selection-modal */
}    

/* styles/unit-configuration-modal.scss */

.modal-body-scrollable {
    max-height: 70vh; /* Adjust this percentage as needed */
    overflow-y: auto;
  }

  /* styles/unit-configuration-modal.scss */

.modal-header-custom {
    .btn {
      font-size: 0.75rem; /* adjust as needed for smaller size */
      padding: 0.20rem 0.4rem; /* adjust for smaller padding */
      text-transform: uppercase;
    }
  }
  