<!-- <ion-item style="border:1px solid yellow;"> -->
<style>
  table.cardSelector td,
  table.cardSelector td ion-thumbnail,
  table.cardSelector td img {
    width: 75px;
    height: 75px;
    text-align: center;
    vertical-align: middle;
  }
</style>

<ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Pick Replacement</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let card of getBasicCards();" size="8"
                style="text-align: center; vertical-align: middle;">
                <table>
                  <tr>
                    <td>
                      <h2 (click)="confirm(card)">{{ getCardDisplayName(card) }}</h2>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img (click)="confirm(card)" src="/assets/icons/{{ card }}.png">
                    </td>
                  </tr>
                </table>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-grid>
  <ion-row>
    <ion-col *ngFor="let card of deck; let index = index;">
      <a href="#/tabs/tab1" (click)="setCardByImage(true, index)">
        <ion-thumbnail style="--size: 65px;"><img src="/assets/icons/{{ getCardName(card) }}.png"></ion-thumbnail>
      </a>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="8" *ngIf="deckConfig.mainDpsUnit == 'Inquisitor' || deckConfig.mainDpsUnit == 'Generic' || deckConfig.mainDpsUnit == 'DemonHunter'">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked"><strong>Base Damage</strong></ion-label>

        <ion-text style="padding: 2px">{{ totalDamagePerSecond(false).newAttackDamage | number: '1.0-1' }} /
          hit</ion-text>
      </ion-item>
    </ion-col>
    <ion-col size="8" *ngIf="deckConfig.mainDpsUnit == 'Inquisitor' || deckConfig.mainDpsUnit == 'Generic' || deckConfig.mainDpsUnit == 'DemonHunter'">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked"><strong>Attack Speed</strong></ion-label>

        <ion-text style="padding: 2px">{{ totalDamagePerSecond(false).newAttackSpeed | number }} / s</ion-text>
      </ion-item>
    </ion-col>
    <ion-col size="8" *ngIf="deckConfig.mainDpsUnit == 'Inquisitor' || deckConfig.mainDpsUnit == 'Generic' || deckConfig.mainDpsUnit == 'DemonHunter'">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked"><strong>DPS</strong></ion-label>

        <ion-text style="padding: 2px">{{ totalDamagePerSecond(false).dmgPerSecond | number: '1.0-1' }} / s</ion-text>
      </ion-item>
    </ion-col>
    <ion-col size="8" *ngIf="deckConfig.mainDpsUnit == 'Inquisitor' || deckConfig.mainDpsUnit == 'Generic' || deckConfig.mainDpsUnit == 'DemonHunter'">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked"><strong>Crit. Damage</strong></ion-label>

        <ion-text style="padding: 2px">{{ totalDamagePerSecond(false).criticalDamage | number: '1.0-1' }} /
          hit</ion-text>
      </ion-item>
    </ion-col>
    <ion-col size="8" *ngIf="deckConfig.mainDpsUnit == 'Inquisitor' || deckConfig.mainDpsUnit == 'Generic' || deckConfig.mainDpsUnit == 'DemonHunter'">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked"><strong>Crit. Hits</strong></ion-label>

        <ion-text style="padding: 2px">{{ totalDamagePerSecond(false).critHitsPerSecond | number }} / s</ion-text>
      </ion-item>
    </ion-col>
    <ion-col size="8" *ngIf="deckConfig.mainDpsUnit == 'Inquisitor' || deckConfig.mainDpsUnit == 'Generic' || deckConfig.mainDpsUnit == 'DemonHunter'">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked"><strong>Crit. DPS</strong></ion-label>

        <ion-text style="padding: 2px">{{ totalDamagePerSecond(false).critDmgPerSecond | number: '1.0-1' }} /
          s</ion-text>
      </ion-item>
    </ion-col>

    <ion-col size="8" *ngIf="(deckConfig.mainDpsUnit == 'Inquisitor' || deckConfig.mainDpsUnit == 'Generic') && dmgWithGrindstone() > 0">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked"><strong>GS Base Damage</strong></ion-label>

        <ion-text style="padding: 2px">{{ gsDamagePerSecond(false).newAttackDamage | number: '1.0-1' }} /
          hit</ion-text>
      </ion-item>
    </ion-col>
    <ion-col size="8" *ngIf="(deckConfig.mainDpsUnit == 'Inquisitor' || deckConfig.mainDpsUnit == 'Generic') && dmgWithGrindstone() > 0">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked"><strong>Attack Speed</strong></ion-label>

        <ion-text style="padding: 2px">{{ gsDamagePerSecond(false).newAttackSpeed | number }} / s</ion-text>
      </ion-item>
    </ion-col>
    <ion-col size="8" *ngIf="(deckConfig.mainDpsUnit == 'Inquisitor' || deckConfig.mainDpsUnit == 'Generic') && dmgWithGrindstone() > 0">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked"><strong>GS DPS</strong></ion-label>

        <ion-text style="padding: 2px">{{ gsDamagePerSecond(false).dmgPerSecond | number: '1.0-1' }} / s</ion-text>
      </ion-item>
    </ion-col>

    <ion-col size="8" *ngIf="(deckConfig.mainDpsUnit == 'Inquisitor' || deckConfig.mainDpsUnit == 'Generic') && dmgWithGrindstone() > 0">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked"><strong>GS Crit. Damage</strong></ion-label>

        <ion-text style="padding: 2px">{{ gsDamagePerSecond(false).criticalDamage | number: '1.0-1' }} /
          hit</ion-text>
      </ion-item>
    </ion-col>
    <ion-col size="8" *ngIf="(deckConfig.mainDpsUnit == 'Inquisitor' || deckConfig.mainDpsUnit == 'Generic') && dmgWithGrindstone() > 0">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked"><strong>GS Crit. Hits</strong></ion-label>

        <ion-text style="padding: 2px">{{ gsDamagePerSecond(false).critHitsPerSecond | number }} / s</ion-text>
      </ion-item>
    </ion-col>
    <ion-col size="8" *ngIf="(deckConfig.mainDpsUnit == 'Inquisitor' || deckConfig.mainDpsUnit == 'Generic') && dmgWithGrindstone() > 0">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked"><strong>GS Crit. DPS</strong></ion-label>

        <ion-text style="padding: 2px">{{ gsDamagePerSecond(false).critDmgPerSecond | number: '1.0-1' }} /
          s</ion-text>
      </ion-item>
    </ion-col>

    <ion-col size="8" *ngIf="deckConfig.mainDpsUnit == 'Boreas'">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked"><strong>Normal Phase DPS</strong></ion-label>

        <ion-text style="padding: 2px">{{ totalDamagePerSecond(false).normalPhaseTotal / deckConfig.mainDpsActivationInterval | number: '1.0-1' }} for {{deckConfig.mainDpsActivationInterval}}s</ion-text>
      </ion-item>
    </ion-col>
    <ion-col size="8" *ngIf="deckConfig.mainDpsUnit == 'Boreas'">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked"><strong>First Phase DPS</strong></ion-label>

        <ion-text style="padding: 2px">{{ totalDamagePerSecond(false).firstPhaseTotal / deckConfig.mainDpsFirstPhase | number: '1.0-1' }} for {{deckConfig.mainDpsFirstPhase}}s</ion-text>
      </ion-item>
    </ion-col>
    <ion-col size="8" *ngIf="deckConfig.mainDpsUnit == 'Boreas'">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked"><strong>Second Phase DPS</strong></ion-label>

        <ion-text style="padding: 2px">{{ totalDamagePerSecond(false).secondPhaseTotal / deckConfig.mainDpsSecondPhase | number: '1.0-1' }} for {{deckConfig.mainDpsSecondPhase}}s</ion-text>
      </ion-item>
    </ion-col>
    <ion-col size="8" *ngIf="deckConfig.mainDpsUnit == 'Sentry'">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked"><strong>Phase Length (seconds)</strong></ion-label>

        <ion-text style="padding: 2px">{{ totalDamagePerSecond(false).totalPhaseLengthSeconds | number: '1.0-1' }}</ion-text>
      </ion-item>
    </ion-col>

    
    <ion-col size="6">
      <ion-item class="ion-no-padding" lines="none">
        <ion-label position="stacked"><strong>Unit DPS</strong></ion-label>

        <ion-text style="padding: 2px">{{ totalDamagePerSecond(false).total | number }}</ion-text>
      </ion-item>
    </ion-col>

    <ion-col size="6" *ngIf="dmgWithGrindstone() > 0">
      <ion-item class="ion-no-padding" lines="none">
        <ion-label position="stacked"><strong>GS DPS</strong></ion-label>

        <ion-text style="padding: 2px">{{ gsDamagePerSecond(false).total | number }}</ion-text>
      </ion-item>
    </ion-col>
    
    <ion-col size="6" *ngIf="dmgWithGrindstone() > 0">
      <ion-item class="ion-no-padding" lines="none">
        <ion-label position="stacked"><strong>Combined DPS</strong></ion-label>

        <ion-text style="padding: 2px">{{ gsDamagePerSecond(false).total + totalDamagePerSecond(false).total | number }}</ion-text>
      </ion-item>
    </ion-col>

    <ion-col *ngIf="deckConfig.talent == 'ronin' || deckConfig.talent == 'unity'">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked"><strong>Max Hit
            Damage ({{getActiveTalentStat('damage')}}%)</strong></ion-label>

        <ion-text style="padding: 2px">{{ totalDamagePerSecond(true).total | number }}</ion-text>
      </ion-item>
    </ion-col>

    <ion-col *ngIf="deckConfig.talent == 'unity'">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked"><strong>Damage x7</strong></ion-label>

        <ion-text style="padding: 2px">{{ totalDamagePerSecond(true).total * 7 | number }}</ion-text>
      </ion-item>
    </ion-col>

    <ion-col size="18" style="text-align: center;">
      <ion-item class="ion-no-margin ion-no-padding">
        <ion-text class="ion-no-margin ion-no-padding">
          <ion-chip size="xsmall" title="Damage Buff" color="primary">Dmg {{ sumOfArray(totalDmgBuff(false))
            }}%</ion-chip>
          <ion-chip size="xsmall" title="Armor Destruction" color="secondary">Armor {{ sumOfArray(totalArmorBuff())
            }}%</ion-chip>
          <ion-chip size="xsmall" title="Crit-Chance Buff" color="success">Crit {{ sumOfArray(totalCritBuff(false))
            }}%</ion-chip>
          <ion-chip size="xsmall" title="Crit-Dmg Buff" color="tertiary">C.Dmg {{ sumOfArray(totalCritDmgBuff(false))
            }}%</ion-chip>
          <ion-chip size="xsmall" title="Speed Buff" color="warning">Speed {{ sumOfArray(totalSpeedBuff())
            }}%</ion-chip>
        </ion-text>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="24">
      <ion-item class="ion-no-padding">
        <ion-label>Player Crit %</ion-label>
        &nbsp;
        <ion-input [value]="deckConfig.playerCrit" (ionChange)="changePlayerCrit($event)"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="ion-no-margin ion-no-padding">
    <ion-col size="24">
      <ion-item lines="none" class="ion-no-margin ion-no-padding">
        <ion-label class="ion-no-margin ion-no-padding">
          <h1 class="ion-no-margin ion-no-padding"><strong>Cards</strong></h1>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="24">
      <ion-card style="width: 98%; margin: 3px;">
        <ion-card-header style="text-align: left;" class="ion-no-margin ion-no-padding" style="padding: 5px;">

          <ion-item lines="none" class="">
            <ion-thumbnail slot="start"><img
                src="/assets/icons/{{ deckConfig.mainDpsUnit | lowercase }}{{ deckConfig.mainDpsUnit == 'Inquisitor' && deckConfig.inquisCardLevel == 15 ? '_max' : '' }}.png"></ion-thumbnail>
            &nbsp;
            <ion-select [value]="deckConfig.mainDpsUnit" style="width: 100%;" (ionChange)="changeDpsUnit($event)">
              <ion-select-option value="Boreas">Boreas</ion-select-option>
              <ion-select-option value="CrystalMancer">Crystal Mancer</ion-select-option>
              <ion-select-option value="DemonHunter">Demon Hunter</ion-select-option>
              <ion-select-option value="Inquisitor">Inquisitor</ion-select-option>
              <ion-select-option value="Sentry">Sentry</ion-select-option>
              <ion-select-option value="Generic">Generic</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card-header>
        <ion-card-content class="ion-no-margin ion-no-padding" style="padding:2px;">
          <table class="ion-no-margin ion-no-padding" style="width: 100%; display:block; margin:0; padding: 0;"
            *ngIf="deckConfig.mainDpsUnit == 'Inquisitor'">
            <tr>
              <td>
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Level</ion-label>
                  <ion-select placeholder="Level 9-12" [value]="deckConfig.inquisCardLevel"
                    (ionChange)="changeInquisCard($event)">

                    <ion-select-option *ngFor="let level of levels;" [value]="level">{{ level }}</ion-select-option>

                  </ion-select>
                </ion-item>
              </td>
              <td>
                <ion-item lines="none" class="ion-no-margin ion-no-padding">
                  <ion-label position="stacked">Tier</ion-label>

                  <ion-select placeholder="Pick Tier" [value]="deckConfig.inquisTierLevel"
                    (ionChange)="changeInquisTier($event)">
                    <ion-select-option *ngFor="let tier of tiers;" [value]="tier">{{ tier }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </td>
              <td>
                <ion-item lines="none" class="ion-no-margin ion-no-padding">
                  <ion-label position="stacked">Talent</ion-label>

                  <ion-select placeholder="Pick Talent" [value]="deckConfig.talent" (ionChange)="changeTalent($event)">
                    <ion-select-option value="none">none</ion-select-option>
                    <ion-select-option value="unity">Unity</ion-select-option>
                    <ion-select-option value="ronin">Ronin</ion-select-option>
                  </ion-select>
                </ion-item>
              </td>
              <td>
                <ion-item lines="none" class="ion-no-margin ion-no-padding">
                  <ion-label position="stacked">Absorbs</ion-label>
                  <ion-input [value]="deckConfig.absorbs" (ionChange)="changedSoulAbsorbs($event)"></ion-input>
                </ion-item>
              </td>
            </tr>
            <tr *ngIf="deckConfig.talent == 'ronin' || deckConfig.talent == 'unity'">
              <td colspan="4">
                <ion-grid>
                  <ion-row>
                    <ion-col size-sm="4" size-md="4" size-xs="8">
                      <ion-item class="ion-no-padding">
                        <ion-text color="primary" size="small"><i>Damage&nbsp;</i></ion-text>
                        <ion-input [value]="getActiveTalentStat('damage')"
                          (ionChange)="changeTalentStat($event, 'damage')"></ion-input>%
                      </ion-item>
                    </ion-col>
                    <ion-col size-sm="4" size-md="4" size-xs="8">
                      <ion-item class="ion-no-padding">
                        <ion-text color="success" size="small"><i>Chance&nbsp;</i></ion-text>
                        <ion-input [value]="getActiveTalentStat('critChance')"
                          (ionChange)="changeTalentStat($event, 'critChance')"></ion-input>%
                      </ion-item>
                    </ion-col>
                    <ion-col size-sm="4" size-md="4" size-xs="8">
                      <ion-item class="ion-no-padding">
                        <ion-text color="tertiary" size="small"><i>Crit-Dmg&nbsp;</i></ion-text>
                        <ion-input [value]="getActiveTalentStat('critDamage')"
                          (ionChange)="changeTalentStat($event, 'critDamage')"></ion-input>%
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </td>
            </tr>
            <tr>
              <td>
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Base Speed</ion-label>
                  <ion-note>{{ inquisBaseSpeed }} - {{ inquisAttackSpeedTiers[deckConfig.inquisTierLevel] }}</ion-note>
                </ion-item>
              </td>
              <td style="width: 50%;">
                <ion-item lines="none" class="ion-no-margin ion-no-padding">
                  <ion-label position="stacked">Base Dmg</ion-label>
                  <ion-note>{{ inquisDamageLevels[deckConfig.inquisCardLevel] }} + {{ inquisBaseDamage }}</ion-note>
                </ion-item>
              </td>
              <td colspan="2">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Dmg w. absorbs</ion-label>
                  <ion-note>{{ dmgWithAbsorbs() }}</ion-note>
                </ion-item>
              </td>
            </tr>
          </table>
          <table class="ion-no-margin ion-no-padding" style="width: 100%; display:block; margin:0; padding: 0;"
            *ngIf="deckConfig.mainDpsUnit == 'Generic' || deckConfig.mainDpsUnit == 'Boreas' || deckConfig.mainDpsUnit == 'Sentry' || deckConfig.mainDpsUnit == 'CrystalMancer' || deckConfig.mainDpsUnit == 'DemonHunter'">
            <tr>
              <td>
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Base Dmg</ion-label>
                  <ion-input [value]="deckConfig.mainDpsBaseDamage" (ionChange)="changeBaseDps($event)"></ion-input>
                </ion-item>
              </td>

              <td>
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Base Speed</ion-label>
                  <ion-input [value]="deckConfig.mainDpsBaseSpeed" (ionChange)="changeBaseSpeed($event)"></ion-input>
                </ion-item>
              </td>


              <td>
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Base Crit Chance</ion-label>
                  <ion-input [value]="deckConfig.mainDpsBaseCrit" (ionChange)="changeBaseCrit($event)"></ion-input>
                </ion-item>
              </td>

            </tr>
            <tr>
              <td>
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Increase {{ mainDpsIncrease.damage }}%</ion-label>
                  <ion-range [value]="mainDpsIncrease.damage" [pin]="true" [ticks]="true" [snaps]="true" [min]="0"
                    [max]="1000" (ionKnobMoveEnd)="increaseBaseStat($event,'damage')"></ion-range>
                </ion-item>
              </td>

              <td>
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Increase {{ mainDpsIncrease.speed}}%</ion-label>
                  <ion-range [value]="mainDpsIncrease.speed" [pin]="true" [ticks]="true" [snaps]="true" [min]="0"
                    [max]="1000" (ionKnobMoveEnd)="increaseBaseStat($event,'speed')"></ion-range>
                </ion-item>
              </td>


              <td>
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Increase {{ mainDpsIncrease.crit}}%</ion-label>
                  <ion-range [value]="mainDpsIncrease.crit" [pin]="true" [ticks]="true" [snaps]="true" [min]="0"
                    [max]="1000" (ionKnobMoveEnd)="increaseBaseStat($event,'crit')"></ion-range>
                </ion-item>
              </td>

            </tr>
            <tr *ngIf="deckConfig.mainDpsUnit == 'Boreas'">
              <td>
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">First Phase Duration</ion-label>
                  <ion-input [value]="deckConfig.mainDpsFirstPhase" (ionChange)="changeDeckConfig($event,'mainDpsFirstPhase')"></ion-input>
                </ion-item>
              </td>

              <td>
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Second Phase Duration</ion-label>
                  <ion-input [value]="deckConfig.mainDpsSecondPhase" (ionChange)="changeDeckConfig($event,'mainDpsSecondPhase')"></ion-input>
                </ion-item>
              </td>


              <td>
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Activation Interval</ion-label>
                  <ion-input [value]="deckConfig.mainDpsActivationInterval" (ionChange)="changeDeckConfig($event,'mainDpsActivationInterval')"></ion-input>
                </ion-item>
              </td>

            </tr>
            <tr *ngIf="deckConfig.mainDpsUnit == 'Sentry'">
              <td>
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Damage Increase</ion-label>
                  <ion-input [value]="deckConfig.mainDpsDamageIncrease" (ionChange)="changeDeckConfig($event,'mainDpsDamageIncrease')"></ion-input>
                </ion-item>
              </td>

              <td colspan="2">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Activation Interval</ion-label>
                  <ion-input [value]="deckConfig.mainDpsActivationInterval" (ionChange)="changeDeckConfig($event,'mainDpsActivationInterval')"></ion-input>
                </ion-item>
              </td>


            </tr>
            <tr *ngIf="deckConfig.mainDpsUnit == 'DemonHunter'">
              <td>
                <ion-item lines="none">
                  <ion-label position="stacked">Tier</ion-label>

                  <ion-select placeholder="Pick Tier" [value]="deckConfig.mainDpsTierLevel"
                  (ionChange)="changeDeckConfig($event,'mainDpsTierLevel')">
                    <ion-select-option *ngFor="let tier of tiers;" [value]="tier">{{ tier }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </td>

              <td colspan="2">
                <ion-item lines="none">
                  <ion-label position="stacked">Demonic Empowered (40+)</ion-label>
                  <ion-checkbox [checked]="deckConfig.demonHunterEmpowered"
                  (ionChange)="changeDeckConfig($event,'demonHunterEmpowered', true)"></ion-checkbox>
                </ion-item>
              </td>


            </tr>
          </table>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-margin ion-no-padding">
    <ion-col size="12" *ngFor="let card of deck; let index = index;" class="ion-no-margin ion-no-padding">
      <ion-card style="width: 98%; margin: 3px;">
        <ion-card-header style="text-align: left; padding: 5px;">
          <ion-card-subtitle>
            <span (click)="setCardByImage(true, index)">
              <ion-thumbnail style="display: inline-block; height: 45px; vertical-align: middle;"><img
                  src="/assets/icons/{{ getCardName(card) }}.png"></ion-thumbnail>
              {{ getCardDisplayName(card) }}
            </span>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="ion-no-margin ion-no-padding" style="padding:2px;">
          <table class="ion-no-margin ion-no-padding" style="width: 100%; display:block; margin:0; padding: 0;">
            <tr *ngIf="getCardTierMatters(card).indexOf(true) > -1">
              <td *ngIf="getCardTierMatters(card)[0]">
                <ion-item lines="none">
                  <ion-label position="stacked">Level</ion-label>
                  <ion-select placeholder="Level 9-12" [value]="card.level" (ionChange)="changeCardLevel($event, card)">

                    <ion-select-option *ngFor="let level of levels;" [value]="level">{{ level }}</ion-select-option>

                  </ion-select>
                </ion-item>
              </td>
              <td *ngIf="getCardTierMatters(card)[1]">
                <ion-item lines="none">
                  <ion-label position="stacked">Tier</ion-label>
                  <ion-select placeholder="Tier 4-7" [value]="card.tier" (ionChange)="changeTierLevel($event, card)">
                    <ion-select-option *ngFor="let tier of tiers;" [value]="tier">{{ tier }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </td>
            </tr>
            <tr *ngIf="card.name == 'witch_statue' || card.name == 'dryad_rage' || card.name == 'sword' || (card.name == 'grindstone' && getGrindstoneTalents().indexOf('unstable_overheat') > -1)">
              <td colspan="2">
                <ion-item lines="none">
                  <ion-label position="stacked">Merges / Stacks</ion-label>
                  <ion-select placeholder="Merges" [value]="card.merges" (ionChange)="changeWitchMerges($event, card)">
                    <ion-select-option *ngFor="let merge of cardMerges(card);" [value]="merge">{{ merge
                      }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </td>
            </tr>
            <!-- <tr *ngIf="card.name == 'grindstone'">
              <td colspan="3">
                <ion-item lines="none">
                  <ion-label position="stacked">Mode</ion-label>
                  <ion-select placeholder="Mode" [value]="card.mode" style="width: 100%;"
                    (ionChange)="changeGrindstoneMode($event, card)">
                    <ion-select-option value="st">Single Target</ion-select-option>
                    <ion-select-option value="mt">Multi Target</ion-select-option>
                  </ion-select>
                  <ion-button (click)="changeGrindstoneOptions()">Talents</ion-button>
                </ion-item>
              </td>
            </tr> -->
            <tr *ngIf="card.name == 'grindstone'">
              <td colspan="3">
                <ion-item lines="none">
                  <ion-label position="stacked">Base Damage</ion-label>
                  <ion-input [value]="card.damage" (ionChange)="setGrindstoneDmg($event, card)"></ion-input>
                  <ion-button (click)="changeGrindstoneOptions()">Options</ion-button>
                </ion-item>
              </td>
            </tr>
            <tr *ngIf="card.name == 'grindstone' && getGrindstoneTalents().indexOf('adjacent_ks') > -1">
              <td colspan="3">
                <ion-item lines="none">
                  <ion-label position="stacked">KS Level</ion-label>
                  <ion-select placeholder="Level 9-12" [value]="card.level" (ionChange)="changeCardLevel($event, card)">

                    <ion-select-option *ngFor="let level of levels;" [value]="level">{{ level }}</ion-select-option>

                  </ion-select>
                </ion-item>
                <ion-item lines="none">
                  <ion-label position="stacked">KS Tier</ion-label>
                  <ion-select placeholder="Tier 4-7" [value]="card.tier" (ionChange)="changeTierLevel($event, card)">
                    <ion-select-option *ngFor="let tier of tiers;" [value]="tier">{{ tier }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </td>
            </tr>
            <tr *ngIf="getUnitType(card) !== 'none'">
              <td colspan="2">
                <ion-item class="ion-no-padding ion-no-margin" lines="none">
                  <span *ngIf="getDmgBuff(card) > 0 && (getUnitType(card) == 'unit' || getUnitType(card) == 'armor')">
                    <ion-chip size="xsmall" [color]="getUnitType(card) == 'unit' ? 'primary' : 'secondary'"
                      title="Dmg Buff">Dmg {{ getDmgBuff(card)
                      }}%</ion-chip>
                  </span>
                  <span *ngIf="getUnitType(card) == 'flat'">
                    <ion-chip size="xsmall" color="danger" title="Dmg Buff">Dmg {{ getDmgBuff(card)
                      }}&nbsp;pts</ion-chip>
                  </span>
                  &nbsp;<ion-chip size="xsmall" color="success" title="Crit Buff"
                    *ngIf="getCritBuff(card) > 0">Crit&nbsp;{{ getCritBuff(card) }}%</ion-chip>

                  <ion-chip size="xsmall" color="warning" title="Speed Buff" *ngIf="getSpeedBuff(card) > 0">Spd&nbsp;{{
                    getSpeedBuff(card) }}%</ion-chip>

                </ion-item>
              </td>
            </tr>
          </table>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-margin ion-no-padding">
    <ion-col size="24">
      <ion-item lines="none" class="ion-no-margin ion-no-padding">
        <ion-label class="ion-no-margin ion-no-padding">
          <h1 class="ion-no-margin ion-no-padding"><strong>Equipment</strong></h1>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-margin ion-no-padding">
    <ion-col size="24" class="ion-no-margin ion-no-padding">
      <ion-card style="width: 98%; margin: 3px;">
        <ion-card-content class="ion-no-margin ion-no-padding" style="padding:2px;">
          <table class="ion-no-margin ion-no-padding" style="width: 100%; display:block; margin:0; padding: 0;">
            <tr>
              <td style="width: 60%;">
                <ion-item lines="none">
                  <ion-label position="stacked">Hero</ion-label>
                  <ion-select placeholder="Hero"
                    [selectedText]="deckConfig.hero.substr(0,1).toUpperCase() + deckConfig.hero.substr(1,deckConfig.hero.length)"
                    style="width: 100%;" [value]="deckConfig.hero" (ionChange)="changeHero($event)">
                    <ion-select-option *ngFor="let hero of heroList();" [value]="hero" class="ion-text-capitalize">{{
                      hero }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </td>
              <td style="width: 40%;">
                <ion-item lines="none" *ngIf="deckConfig.hero == 'gadget'">
                  <ion-label>Gold Tile</ion-label>
                  &nbsp;<ion-checkbox *ngIf="deckConfig.hero == 'gadget'" class="ion-no-padding ion-no-margin"
                    size="small" [checked]="heroes[deckConfig.hero].isGold"
                    (ionChange)="changeGoldTile($event)"></ion-checkbox>

                </ion-item>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <ion-item lines="none">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="8">
                        <ion-item class="ion-no-padding">
                          <ion-label position="stacked">Damage</ion-label>
                          <ion-text>
                            <ion-input [value]="heroes[deckConfig.hero].damage"
                              (ionChange)="changeHeroStat($event,'damage')"></ion-input>
                          </ion-text>
                        </ion-item>
                      </ion-col>
                      <ion-col size="8">
                        <ion-item class="ion-no-padding">
                          <ion-label position="stacked">Crit</ion-label>
                          <ion-text>
                            <ion-input [value]="heroes[deckConfig.hero].crit"
                              (ionChange)="changeHeroStat($event,'crit')"></ion-input>
                          </ion-text>
                        </ion-item>
                      </ion-col>
                      <ion-col size="8">
                        <ion-item class="ion-no-padding">
                          <ion-label position="stacked">Speed</ion-label>
                          <ion-text>
                            <ion-input [value]="heroes[deckConfig.hero].speed"
                              (ionChange)="changeHeroStat($event,'speed')"></ion-input>
                          </ion-text>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </td>
            </tr>
          </table>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="8">
      <ion-item class="ion-no-padding">
        <ion-label>
          Set Bonus
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="16">
      <ion-item class="ion-no-padding">
        <ion-checkbox slot="start" class="ion-no-padding ion-no-margin" size="small" [checked]="deckConfig.hasSetBonus"
          (ionChange)="changeSetBonus($event)"></ion-checkbox>
        <ion-text>&nbsp;<i>10%+</i></ion-text>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-margin ion-no-padding">
    <ion-col size="12" class="ion-no-margin ion-no-padding">
      <ion-card style="width: 98%; margin: 3px;">
        <ion-card-content class="ion-no-margin ion-no-padding" style="padding:2px;">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item lines="none" class="ion-no-margin" style="padding:0px;">
                  <ion-label position="stacked">Amulet</ion-label>
                  <ion-select style="width: 100%;" placeholder="Pick Amulet" [value]="deckConfig.amulet"
                    (ionChange)="changeAmulet($event)">
                    <ion-select-option *ngFor="let amulet of amuletList();" [value]="amulet">{{ amulets[amulet].name
                      }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="amulets[deckConfig.amulet].stat != 'none'">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked" class="ion-text-capitalize">Alliance {{ amulets[deckConfig.amulet].stat
                    }}
                    %</ion-label>
                  <ion-input [value]="amulets[deckConfig.amulet].alliance"
                    (ionChange)="changeAmuletStat($event,'alliance')"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="amulets[deckConfig.amulet].stat != 'none'">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked" class="ion-text-capitalize">Faction {{ amulets[deckConfig.amulet].stat
                    }}
                    %</ion-label>
                  <ion-input [value]="amulets[deckConfig.amulet].faction"
                    (ionChange)="changeAmuletStat($event,'faction')"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" class="ion-no-margin ion-no-padding">
      <ion-card style="width: 98%; margin: 3px;">
        <ion-card-content class="ion-no-margin ion-no-padding" style="padding:2px;">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Weapon</ion-label>
                  <ion-select style="width: 100%;" placeholder="Pick Weapon" [value]="deckConfig.weapon"
                    (ionChange)="changeWeapon($event)">
                    <ion-select-option *ngFor="let weapon of weaponList();" [value]="weapon">{{ weapon
                      }}</ion-select-option>

                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="weapons[deckConfig.weapon].stat != 'none'">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked" class="ion-text-capitalize">Alliance {{ weapons[deckConfig.weapon].stat
                    }}
                    %</ion-label>

                  <ion-input [value]="weapons[deckConfig.weapon].alliance"
                    (ionChange)="changeWeaponStat($event,'alliance')"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="weapons[deckConfig.weapon].stat != 'none'">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked" class="ion-text-capitalize">Faction {{ weapons[deckConfig.weapon].stat
                    }}
                    %</ion-label>

                  <ion-input [value]="weapons[deckConfig.weapon].faction"
                    (ionChange)="changeWeaponStat($event,'faction')"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="ion-no-margin ion-no-padding">
    <ion-col size="12" class="ion-no-margin ion-no-padding">
      <ion-card style="width: 95%; margin: 3px;">
        <ion-card-content class="ion-no-margin ion-no-padding" style="padding:2px;">

          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Armor</ion-label>
                  <ion-select style="width: 100%;" placeholder="Pick Armor" [value]="deckConfig.armor"
                    (ionChange)="changeArmor($event)">
                    <ion-select-option *ngFor="let armor of armorList();" [value]="armor">{{ armor
                      }}</ion-select-option>

                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="armor[deckConfig.armor].stat != 'none'">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked" class="ion-text-capitalize">Alliance {{ armor[deckConfig.armor].stat
                    }}
                    %</ion-label>

                  <ion-input [value]="armor[deckConfig.armor].alliance"
                    (ionChange)="changeArmorStat($event,'alliance')"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="armor[deckConfig.armor].stat != 'none'">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked" class="ion-text-capitalize">Faction {{ armor[deckConfig.armor].stat
                    }}
                    %</ion-label>

                  <ion-input [value]="armor[deckConfig.armor].faction"
                    (ionChange)="changeArmorStat($event,'faction')"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <!-- <ion-row>
              <ion-col>
                <ion-item class="ion-no-margin ion-no-padding">
                  <ion-list>
                    <ion-radio-group value="this">
                      <ion-item lines="none">
                        <ion-label>Apply to this deck</ion-label>
                        <ion-radio slot="end" value="this"></ion-radio>
                      </ion-item>

                      <ion-item lines="none">
                        <ion-label>Apply to other deck</ion-label>
                        <ion-radio slot="end" value="other"></ion-radio>
                      </ion-item>

                    </ion-radio-group>
                  </ion-list>
                </ion-item>
              </ion-col>
            </ion-row> -->
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" class="ion-no-margin ion-no-padding">
      <ion-card style="width: 95%; margin: 3px;">
        <ion-card-content class="ion-no-margin ion-no-padding" style="padding:2px;">
          <table class="ion-no-margin ion-no-padding" style="width: 100%; display:block; margin:0; padding: 0;">
            <tr>
              <td>
                <ion-item lines="none">
                  <ion-label position="stacked">Enchantments</ion-label>
                  <ion-select style="width: 100%;" placeholder="Add Enchantment"
                    [interfaceOptions]="enchantmentPopoverOptions" [value]="activeEnchantment" interface="popover"
                    (ionChange)="addEnchantment($event)">
                    <ion-select-option value="">Add Enchantment</ion-select-option>
                    <ion-select-option *ngFor="let enchantment of enchantmentList();" [value]="enchantment">{{
                      enchantments[enchantment].name }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </td>
            </tr>
            <tr *ngIf="deckConfig.enchantments.length > 0">
              <td>
                <ion-item class="ion-no-padding ion-no-margin">
                  <ion-chip size="small" *ngFor="let enchantment of deckConfig.enchantments"
                    (click)="removeEnchantment(enchantment)">
                    <ion-icon name="close-circle-outline"></ion-icon>
                    <ion-label>{{ enchantments[enchantment].name }}</ion-label>

                  </ion-chip>
                </ion-item>
              </td>
            </tr>
            <tr *ngIf="deckConfig.enchantments.length > 0">
              <td colspan="2">
                <ion-list>
                  <ion-item *ngFor="let enchantment of deckConfig.enchantments">
                    <ion-text><strong>{{ enchantments[enchantment].name }}</strong> -
                      Increase {{ enchantments[enchantment].stat }} by {{ enchantments[enchantment].buff }}% for
                      {{ enchantments[enchantment].duration }} secs.
                    </ion-text>
                  </ion-item>
                </ion-list>
              </td>
            </tr>
          </table>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>