[size="small"] {
  height: 20px;
  font-size: 12px;
}

[size="xsmall"] {
  height: 18px;
  font-size: 11px;
}

.headerRow, .headerRow ion-item {
  font-weight: bold;
}

ion-select {
  width: 70px;
}

ion-select.md, ion-select.lg {
  width: auto;
}

ion-grid {
  --ion-grid-columns: 24;

  --ion-grid-padding: 0px;
  
  --ion-grid-margin: 0px;

  --ion-grid-padding-xs: 0px;
  --ion-grid-padding-sm: 0px;
  --ion-grid-padding-md: 0px;
  --ion-grid-padding-lg: 0px;
  --ion-grid-padding-xl: 0px;

  --ion-grid-column-padding: 0px;

  --ion-grid-column-padding-xs: 0px;
  --ion-grid-column-padding-sm: 0px;
  --ion-grid-column-padding-md: 0px;
  --ion-grid-column-padding-lg: 0px;
  --ion-grid-column-padding-xl: 0px;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 0px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}