<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Layout Tool
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <style>
    .board ion-chip {
        font-size: 3vw;
    }
</style> -->

<ion-modal [isOpen]="isCardPickerOpen" (willDismiss)="dismissedCardPicker($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cardCancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
          <ion-button (click)="cardClear()">Clear</ion-button>
        </ion-buttons>
        <ion-title>Pick Card</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let card of getCardsList();" size="4"
                style="text-align: center; vertical-align: middle;">
                <table>
                  <tr>
                    <td>
                      <img (click)="cardConfirm(card)" src="/assets/icons/{{ card }}.png">
                    </td>
                  </tr>
                </table>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>


<ion-modal [isOpen]="isItemConfigOpen" (willDismiss)="dismissedHeroOptions($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="heroCancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
          <ion-button (click)="heroConfirm()">Confirm</ion-button>
        </ion-buttons>
        <ion-title slot="end"><span class="ion-text-capitalize">{{itemConfigType}}</span> Options</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card>
        <ion-card-content class="ion-no-margin ion-no-padding" style="padding:2px;" *ngIf="itemConfigType == 'weapons'">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-item lines="none" class="ion-no-margin" style="padding:0px;">
                  <span *ngFor="let weapon of weaponList();" class="heroes">
                    <ion-thumbnail style="--size: 65px; display: inline-block;" (click)="changeWeapon(weapon)">
                      <img [src]="'/assets/weapon/' + weapon + '.jpg'"
                        [ngStyle]="{'border': weapon == boardService.activeWeapon ? '3px solid gold' : ''}">
                    </ion-thumbnail>
                  </span>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
        <ion-card-content class="ion-no-margin ion-no-padding" style="padding:2px;" *ngIf="itemConfigType == 'armor'">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-item lines="none" class="ion-no-margin" style="padding:0px;">
                  <span *ngFor="let armor of armorList();" class="heroes">
                    <ion-thumbnail style="--size: 65px; display: inline-block;" (click)="changeArmor(armor)">
                      <img [src]="'/assets/armor/' + armor + '.jpg'" [style.border]="armor == boardService.activeArmor ? '3px solid gold' : ''">
                    </ion-thumbnail>
                  </span>
                  
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
        <ion-card-content class="ion-no-margin ion-no-padding" style="padding:2px;" *ngIf="itemConfigType == 'amulets'">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-item lines="none" class="ion-no-margin" style="padding:0px;">
                  <span *ngFor="let amulet of amuletList();" class="heroes">
                    <ion-thumbnail style="--size: 65px; display: inline-block;" (click)="changeAmulet(amulet)">
                      <img [src]="'/assets/amulet/' + amulet + '.jpg'" [style.border]="amulet == boardService.activeAmulet ? '3px solid gold' : ''">
                    </ion-thumbnail>
                  </span>
                  
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
        <ion-card-content class="ion-no-margin ion-no-padding" style="padding:2px;" *ngIf="itemConfigType == 'amulets' || itemConfigType == 'armor' || itemConfigType == 'weapons'">
          <ion-grid>
            <ion-row>
              <ion-col *ngIf="boardService[itemConfigType][activeEditItem].stat != 'none'" size="12">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked" class="ion-text-capitalize">Alliance {{
                    boardService[itemConfigType][activeEditItem].stat
                    }}
                    %</ion-label>
                  <ion-input [value]="boardService.getItemStat(itemConfigType, activeEditItem, 'alliance')"
                    (ionChange)="changeItemStat($event, itemConfigType, activeEditItem, 'alliance')"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="boardService[itemConfigType][activeEditItem].stat != 'none'" size="12">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked" class="ion-text-capitalize">Faction {{
                    boardService[itemConfigType][activeEditItem].stat
                    }}
                    %</ion-label>
                  <ion-input [value]="boardService.getItemStat(itemConfigType, activeEditItem, 'faction')"
                    (ionChange)="changeItemStat($event, itemConfigType, activeEditItem, 'faction')"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
        <ion-card-content class="ion-no-margin ion-no-padding" style="padding:2px;" *ngIf="itemConfigType == 'heroes'">
          <table class="ion-no-margin ion-no-padding" style="width: 100%; display:block; margin:0; padding: 0;">
            <tr>
              <td>
                <span *ngFor="let herot of heroList();" class="heroes">
                  <ion-thumbnail style="--size: 65px; display: inline-block;" (click)="changeHero(herot)">
                    <img src="/assets/heroes/{{ herot }}.jpg"
                      style=" {{ herot == boardService.activeHero ? 'border:3px solid gold' : '' }}">
                  </ion-thumbnail>
                </span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <ion-item lines="none">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <h3 class="ion-text-capitalize">{{ boardService.activeHero }}</h3>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="8">
                        <ion-item class="ion-no-padding">
                          <ion-label position="stacked">Damage</ion-label>
                          <ion-text>
                            <ion-input [value]="boardService.getItemStat('heroes', boardService.activeHero, 'damage')"
                              (ionChange)="changeItemStat($event, itemConfigType, activeEditItem, 'damage')"></ion-input>
                          </ion-text>
                        </ion-item>
                      </ion-col>
                      <ion-col size="8">
                        <ion-item class="ion-no-padding">
                          <ion-label position="stacked">Crit</ion-label>
                          <ion-text>
                            <ion-input [value]="boardService.getItemStat('heroes', boardService.activeHero, 'crit')"
                              (ionChange)="changeItemStat($event, itemConfigType, activeEditItem, 'crit')"></ion-input>
                          </ion-text>
                        </ion-item>
                      </ion-col>
                      <ion-col size="8">
                        <ion-item class="ion-no-padding">
                          <ion-label position="stacked">Speed</ion-label>
                          <ion-text>
                            <ion-input [value]="boardService.getItemStat('heroes', boardService.activeHero, 'speed')"
                              (ionChange)="changeItemStat($event, itemConfigType, activeEditItem, 'speed')"></ion-input>
                          </ion-text>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </td>
            </tr>
            <!-- <tr *ngIf="boardService.activeHero == 'gadget'">
              <td style="width: 40%;">
                <ion-item lines="none">
                  <ion-label>Gold Tile</ion-label>
                  &nbsp;<ion-checkbox *ngIf="boardService.activeHero == 'gadget'" class="ion-no-padding ion-no-margin"
                    size="small" [checked]="boardService.heroes[boardService.activeHero].isGold"
                    (ionChange)="changeGoldTile($event)"></ion-checkbox>

                </ion-item>
              </td> 
            </tr> -->
          </table>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isCardOptionsOpen" (willDismiss)="dismissedCardOptions($event, false)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cardCancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
          <ion-button (click)="cardClear()">Clear</ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
          <ion-button (click)="dismissedCardOptions($event, false)">Confirm</ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
          <ion-button (click)="dismissedCardOptions($event, true)">Apply To All</ion-button>
        </ion-buttons>
        <ion-title slot="end">Pick Options</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card>
        <ion-card-content class="ion-no-margin ion-no-padding" style="padding:2px;">
          <ion-grid>
            <ion-row>
              <ion-col *ngIf="getFieldMatters(activeTile.id, 'level')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Level</ion-label>
                  <ion-select placeholder="Level 9-12" [value]="deckConfig.level"
                    (ionChange)="changeDeckConfig($event,'level')">
                    <ion-select-option *ngFor="let level of unitsService.levels;" [value]="level">{{ level
                      }}</ion-select-option>
                  </ion-select>
                  <ion-buttons slot="end">
                    <ion-button color="primary" (click)="deckConfig.level = unitsService.levels[0]">Min</ion-button>
                    <ion-button color="primary"
                      (click)="deckConfig.level = unitsService.levels[unitsService.levels.length-1]">Max</ion-button>
                  </ion-buttons>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="getFieldMatters(activeTile.id, 'tier')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Tier</ion-label>

                  <ion-select placeholder="Pick Tier" [value]="deckConfig.tier"
                    (ionChange)="changeDeckConfig($event,'tier')">
                    <ion-select-option *ngFor="let tier of unitsService.tiers;" [value]="tier">{{ tier
                      }}</ion-select-option>
                  </ion-select>
                  <ion-buttons slot="end">
                    <ion-button color="primary" (click)="deckConfig.tier = unitsService.tiers[0]">Min</ion-button>
                    <ion-button color="primary"
                      (click)="deckConfig.tier = unitsService.tiers[unitsService.tiers.length-1]">Max</ion-button>
                  </ion-buttons>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="activeTile.id == 'inquisitor'">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Talent</ion-label>

                  <ion-select placeholder="Pick Talent" [value]="deckConfig.talent"
                    (ionChange)="changeDeckConfig($event,'talent')">

                    <ion-select-option value="">First Hits</ion-select-option>
                    <ion-select-option value="none">None</ion-select-option>
                    <ion-select-option value="unity">Unity</ion-select-option>
                    <ion-select-option value="ronin">Ronin</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="getFieldMatters(activeTile.id, 'absorbs')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Absorbs</ion-label>
                  <ion-input [value]="deckConfig.absorbs" (ionChange)="changeDeckConfig($event,'absorbs')"
                    type="number"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col
                *ngIf="((getFieldMatters(activeTile.id, 'merges') && deckConfig.name !== 'Grindstone') || (deckConfig.name == 'Grindstone' && deckConfig.activeTalents.indexOf('unstable_overheat') > -1))">
                <ion-item lines="none">
                  <ion-label position="stacked">Merges / Stacks</ion-label>
                  <ion-select placeholder="Merges" [value]="deckConfig.merges"
                    (ionChange)="changeDeckConfig($event,'merges')">
                    <ion-select-option *ngFor="let merge of cardMerges(deckConfig);" [value]="merge">{{ merge
                      }}</ion-select-option>
                  </ion-select>
                  <ion-buttons slot="end">
                    <ion-button color="primary" (click)="deckConfig.merges = cardMerges(deckConfig)[0]">Min</ion-button>
                    <ion-button color="primary"
                      (click)="deckConfig.merges = cardMerges(deckConfig)[cardMerges(deckConfig).length-1]">Max</ion-button>
                  </ion-buttons>

                </ion-item>
              </ion-col>

              <ion-col *ngIf="deckConfig.type == 'dps'">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Sword Stacks</ion-label>
                  <ion-select placeholder="Stacks" [value]="deckConfig.swordStacks"
                    (ionChange)="changeDeckConfig($event,'swordStacks')">
                    <ion-select-option *ngFor="let merge of cardMerges(unitsService.cards.sword);" [value]="merge">{{
                      merge
                      }}</ion-select-option>
                  </ion-select>
                  <ion-buttons slot="end">
                    <ion-button color="primary"
                      (click)="deckConfig.swordStacks = cardMerges(unitsService.cards.sword)[0]">Min</ion-button>
                    <ion-button color="primary"
                      (click)="deckConfig.swordStacks = cardMerges(unitsService.cards.sword)[cardMerges(unitsService.cards.sword).length-1]">Max</ion-button>
                  </ion-buttons>
                </ion-item>
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Sword Level</ion-label>
                  <ion-select placeholder="Level" [value]="deckConfig.swordLevel"
                    (ionChange)="changeDeckConfig($event,'swordLevel')">
                    <ion-select-option *ngFor="let level of unitsService.levels;" [value]="level">{{ level
                      }}</ion-select-option>
                  </ion-select>
                  <ion-buttons slot="end">
                    <ion-button color="primary"
                      (click)="deckConfig.swordLevel = unitsService.levels[0]">Min</ion-button>
                    <ion-button color="primary"
                      (click)="deckConfig.swordLevel = unitsService.levels[unitsService.levels.length-1]">Max</ion-button>
                  </ion-buttons>
                </ion-item>
              </ion-col>

              <ion-col *ngIf="getFieldMatters(activeTile.id, 'mainDpsBaseDamage')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Base Damage</ion-label>
                  <ion-input [value]="deckConfig.mainDpsBaseDamage" type="number"
                    (ionChange)="changeDeckConfig($event,'mainDpsBaseDamage')"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Hero Tile</ion-label>
                  <ion-checkbox [value]="deckConfig.heroTile" [checked]="deckConfig.heroTile"
                    (ionChange)="changeDeckConfig($event,'heroTile', true)"></ion-checkbox>
                </ion-item>
              </ion-col>

              <ion-col *ngIf="deckConfig.name == 'Grindstone'">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Base Damage Buff</ion-label>
                  <ion-input [value]="deckConfig.damage" type="number"
                    (ionChange)="changeDeckConfig($event,'damage')"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size="12" *ngIf="deckConfig && deckConfig.talents && deckConfig.talents.length > 0">
                <ion-item class="ion-no-margin" *ngFor="let talent of deckConfig.talents">
                  <ion-label>{{ talent.label }}</ion-label>
                  <ion-checkbox [value]="talent.value" [checked]="deckConfig.activeTalents.indexOf(talent.value) > -1"
                    (ionChange)="changeDeckConfig($event,'activeTalents', true)"></ion-checkbox>
                </ion-item>
              </ion-col>


              <ion-col *ngIf="getFieldMatters(activeTile.id, 'mainDpsBaseSpeed')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Base Speed</ion-label>
                  <ion-input [value]="deckConfig.mainDpsBaseSpeed" type="number"
                    (ionChange)="changeDeckConfig($event,'mainDpsBaseSpeed')"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="getFieldMatters(activeTile.id, 'mainDpsBaseCrit')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Base Crit Chance</ion-label>
                  <ion-input [value]="deckConfig.mainDpsBaseCrit" type="number"
                    (ionChange)="changeDeckConfig($event,'mainDpsBaseCrit')"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col *ngIf="getFieldMatters(activeTile.id, 'mainDpsFirstPhase')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">First Phase Duration</ion-label>
                  <ion-input [value]="deckConfig.mainDpsFirstPhase" type="number"
                    (ionChange)="changeDeckConfig($event,'mainDpsFirstPhase')"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="getFieldMatters(activeTile.id, 'mainDpsSecondPhase')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Second Phase Duration</ion-label>
                  <ion-input [value]="deckConfig.mainDpsSecondPhase" type="number"
                    (ionChange)="changeDeckConfig($event,'mainDpsSecondPhase')"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col *ngIf="getFieldMatters(activeTile.id, 'mainDpsActivationInterval')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Activation Interval</ion-label>
                  <ion-input [value]="deckConfig.mainDpsActivationInterval" type="number"
                    (ionChange)="changeDeckConfig($event,'mainDpsActivationInterval')"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col *ngIf="getFieldMatters(activeTile.id, 'mainDpsDamageIncrease')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Damage Increase</ion-label>
                  <ion-input [value]="deckConfig.mainDpsDamageIncrease" type="number"
                    (ionChange)="changeDeckConfig($event,'mainDpsDamageIncrease')"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col *ngIf="getFieldMatters(activeTile.id, 'demonHunterEmpowered')">
                <ion-item lines="none">
                  <ion-label position="stacked">Demonic Empowered (40+)</ion-label>
                  <ion-checkbox [checked]="deckConfig.demonHunterEmpowered"
                    (ionChange)="changeDeckConfig($event,'demonHunterEmpowered', true)"></ion-checkbox>
                </ion-item>
              </ion-col>

              <ion-col *ngIf="getFieldMatters(activeTile.id, 'enranged')">
                <ion-item lines="none">
                  <ion-label position="stacked">Enraged</ion-label>
                  <ion-checkbox [checked]="deckConfig.enranged"
                    (ionChange)="changeDeckConfig($event,'enranged', true)"></ion-checkbox>
                </ion-item>
              </ion-col>

              <ion-col *ngIf="getFieldMatters(activeTile.id, 'isActivated')">
                <ion-item lines="none">
                  <ion-label position="stacked">Activated</ion-label>
                  <ion-checkbox [checked]="deckConfig.isActivated"
                    (ionChange)="changeDeckConfig($event,'isActivated', true)"></ion-checkbox>
                </ion-item>
              </ion-col>



              <ion-col *ngIf="getFieldMatters(activeTile.id, 'sacrifices')">
                <ion-item lines="none">
                  <ion-label position="stacked">Sacrifices</ion-label>
                  <ion-input [value]="deckConfig.sacrifices" type="number"
                    (ionChange)="changeDeckConfig($event,'sacrifices')"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col *ngIf="activeTile.id == 'boreas'" size="12">
                <ion-item lines="none" class="ion-no-margin ion-no-padding">
                  <ion-grid class="ion-no-margin ion-no-padding" style="width: 100%;">
                    <ion-row>
                      <ion-col>
                        <ion-label position="stacked">Second Breath</ion-label>
                        <ion-checkbox [checked]="deckConfig.activeTalents.indexOf('second_breath') > -1"
                          value="second_breath"
                          (ionChange)="changeDeckConfig($event,'activeTalents', true)"></ion-checkbox>
                      </ion-col>
                      <ion-col>
                        <ion-label position="stacked">Doublet</ion-label>
                        <ion-checkbox [checked]="deckConfig.activeTalents.indexOf('doublet') > -1" value="doublet"
                          (ionChange)="changeDeckConfig($event,'activeTalents', true)"></ion-checkbox>
                      </ion-col>
                      <ion-col>
                        <ion-label position="stacked">Precise Shooting</ion-label>
                        <ion-checkbox [checked]="deckConfig.activeTalents.indexOf('precise_shooting') > -1"
                          value="precise_shooting"
                          (ionChange)="changeDeckConfig($event,'activeTalents', true)"></ion-checkbox>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <table class="ion-no-margin ion-no-padding" style="width: 100%; display:block; margin:0; padding: 0;">
            <tr *ngIf="deckConfig.talent == 'ronin' || deckConfig.talent == 'unity'">
              <td colspan="4">
                <ion-grid>
                  <ion-row>
                    <ion-col size-sm="4" size-md="4" size-xs="8">
                      <ion-item class="ion-no-padding">
                        <ion-text color="primary" size="small"><i>Damage&nbsp;</i></ion-text>
                        <ion-input [value]="getActiveTalentStat('damage')" type="number"
                          (ionChange)="changeTalentStat($event, 'damage')"></ion-input>%
                      </ion-item>
                    </ion-col>
                    <ion-col size-sm="4" size-md="4" size-xs="8">
                      <ion-item class="ion-no-padding">
                        <ion-text color="success" size="small"><i>Chance&nbsp;</i></ion-text>
                        <ion-input [value]="getActiveTalentStat('critChance')" type="number"
                          (ionChange)="changeTalentStat($event, 'critChance')"></ion-input>%
                      </ion-item>
                    </ion-col>
                    <ion-col size-sm="4" size-md="4" size-xs="8">
                      <ion-item class="ion-no-padding">
                        <ion-text color="tertiary" size="small"><i>Crit-Dmg&nbsp;</i></ion-text>
                        <ion-input [value]="getActiveTalentStat('critDamage')" type="number"
                          (ionChange)="changeTalentStat($event, 'critDamage')"></ion-input>%
                      </ion-item>
                    </ion-col>

                  </ion-row>
                </ion-grid>
              </td>
            </tr>
          </table>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-content>
  <!-- <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true" style="top: 5px;">
    <ion-fab-button>
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color="success" (click)="saveInfo()">
        <ion-icon name="save-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item class="ion-no-padding">
          <ion-label>Player Crit %</ion-label>
          &nbsp;
          <ion-input [value]="boardConfig.playerCrit" (ionChange)="changeBoardConfig($event,'playerCrit')"
            type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-sm="12" size-md="12" size-lg="4" size-xs="12" class="ion-no-margin ion-no-padding">
        <ion-item class="ion-no-margin ion-no-padding">
          <ion-grid class="board ion-no-margin ion-no-padding">
            <ion-row *ngFor="let row of boardService.gridRows; let rowIndex = index;">
              <ion-col *ngFor="let value of row; let columnIndex = index;" class="ion-no-margin ion-no-padding"
                (click)="clickedTile($event, rowIndex, columnIndex)" style="text-align:center;">
                <div [class.heroTile]="boardService.gridRows[rowIndex][columnIndex].heroTile">

                  <img *ngIf="boardService.gridRows[rowIndex][columnIndex].id != ''"
                    id="tile_{{ rowIndex }}_{{ columnIndex }}"
                    src="/assets/board/{{ getBoardName(boardService.gridRows[rowIndex][columnIndex]) }}.png">

                  <!-- <ion-thumbnail style="--size: 65px;" *ngIf="boardService.gridRows[rowIndex][columnIndex].id != ''"><img
                      src="/assets/icons/{{ boardService.gridRows[rowIndex][columnIndex].id }}.png"></ion-thumbnail> -->

                  <div>
                    <ion-chip size="xsmall" class="ion-no-margin ion-no-padding" title="Damage"
                      *ngIf="boardService.gridRows[rowIndex][columnIndex].id == 'knight_statue' || boardService.gridRows[rowIndex][columnIndex].id == 'chemist' || boardService.gridRows[rowIndex][columnIndex].id == 'banner'"
                      color="primary">
                      Lv.{{ boardService.gridRows[rowIndex][columnIndex].level }}/T.{{
                      boardService.gridRows[rowIndex][columnIndex].tier }}
                    </ion-chip>
                    <ion-chip size="xsmall" class="ion-no-margin ion-no-padding" title="Damage"
                      *ngIf="boardService.gridRows[rowIndex][columnIndex].id == 'trapper' || boardService.gridRows[rowIndex][columnIndex].id == 'sword'"
                      color="primary">
                      Lv.{{ boardService.gridRows[rowIndex][columnIndex].level }}
                    </ion-chip>
                    <ion-chip size="xsmall" class="ion-no-margin ion-no-padding" title="Stacks"
                      *ngIf="boardService.gridRows[rowIndex][columnIndex].id == 'witch_statue'" color="primary">
                      Lv.{{ boardService.gridRows[rowIndex][columnIndex].level }} St.{{
                      boardService.gridRows[rowIndex][columnIndex].merges }}
                    </ion-chip>
                    <!--  -->
                    <ion-chip size="xsmall" class="ion-no-margin ion-no-padding" title="Damage"
                      *ngIf="boardService.gridRows[rowIndex][columnIndex].id == 'grindstone'" color="primary">
                      {{ boardService.gridRows[rowIndex][columnIndex].damage }}/hit&nbsp;
                      <span
                        *ngIf="boardService.gridRows[rowIndex][columnIndex].activeTalents.indexOf('unstable_overheat') > -1">
                        St.{{ boardService.gridRows[rowIndex][columnIndex].merges }}&nbsp;
                      </span>
                      <span
                        *ngIf="boardService.gridRows[rowIndex][columnIndex].activeTalents.indexOf('triple_overheat') > -1">
                        3xt&nbsp;
                      </span>
                      <span
                        *ngIf="boardService.gridRows[rowIndex][columnIndex].activeTalents.indexOf('tempered_steel') > -1">
                        T.{{ boardService.gridRows[rowIndex][columnIndex].tier }}
                      </span>
                    </ion-chip>
                    <ion-chip size="xsmall" class="ion-no-margin ion-no-padding" title="Damage"
                      *ngIf="boardService.gridRows[rowIndex][columnIndex].type == 'dps'" color="primary">
                      <span
                        *ngIf="boardService.gridRows[rowIndex][columnIndex].tier && boardService.gridRows[rowIndex][columnIndex].tier > 0">T.{{boardService.gridRows[rowIndex][columnIndex].tier}}&nbsp;</span>
                      {{ getCardInfoById(boardService.gridRows[rowIndex][columnIndex].id).mainDpsBaseDamage }}/hit
                      <span
                        *ngIf="boardService.gridRows[rowIndex][columnIndex].id == 'engineer'">&nbsp;x{{boardService.gridRows[rowIndex][columnIndex].connections}}</span>

                      <span
                        *ngIf="boardService.gridRows[rowIndex][columnIndex].id == 'monk' && boardService.gridRows[rowIndex][columnIndex].isIntersection[0]">&nbsp;(I)</span>
                    </ion-chip>
                    <ion-chip size="xsmall" class="ion-no-margin ion-no-padding" title="Stacks"
                      *ngIf="boardService.gridRows[rowIndex][columnIndex].id == 'dryad'" color="primary">
                      St. {{ getCardInfoById(boardService.gridRows[rowIndex][columnIndex].id).merges }}
                    </ion-chip>
                  </div>


                  <ion-popover *ngIf="infoMode" trigger="tile_{{ rowIndex }}_{{ columnIndex }}" triggerAction="click">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <strong>{{ boardService.gridRows[rowIndex][columnIndex].name }} DPS</strong><br>
                        <div *ngFor="let dpsEntry of boardService.gridRows[rowIndex][columnIndex].dpsEntries"
                          size="small">
                          <em>{{ dpsEntry.main.name }}</em> {{ dpsEntry.dpsInfo.total | number }}
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-popover>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item lines="none" class="ion-no-margin">
          <ion-label><strong>Combined Total DPS</strong></ion-label>
          <ion-label>{{ damageReport.totalDPS | number }}</ion-label>
        </ion-item>
        <ion-item lines="none" class="ion-no-margin ion-no-padding">
          <ion-button color="danger" (click)="boardService.resetBoard()">Reset Board</ion-button>

          <ion-button color="tertiary" (click)="boardService.saveInfo()">Save Board</ion-button>
          <ion-select [value]="boardService.activeSavedBoard" *ngIf="boardService.getSavedBoardsKeys().length > 0"
            (ionChange)="boardService.changeSavedBoard($event)">
            <ion-select-option *ngFor="let index of boardService.getSavedBoardsKeys();" value="{{ index }}">{{
              boardService.savedBoards[index] }}</ion-select-option>
          </ion-select>
          <ion-button color="danger" *ngIf="boardService.getSavedBoardsKeys().length > 0"
            (click)="boardService.deleteSavedBoard(boardService.activeSavedBoard)">Delete</ion-button>
          <ion-button color="tertiary" *ngIf="boardService.getSavedBoardsKeys().length > 0"
            (click)="boardService.updateSavedBoard(boardService.activeSavedBoard)">Update</ion-button>
        </ion-item>
      </ion-col>

      <ion-col size-sm="12" size-md="4" size-xs="12">
        <ion-card class="ion-no-margin ion-no-padding">
          <ion-card-header style="text-align: left;" class="ion-no-margin ion-no-padding" style="padding: 5px;">
            <ion-item lines="none" class="ion-no-margin ion-no-padding">
              <ion-label>
                <h1><strong>Stats</strong></h1>
              </ion-label>
            </ion-item>
          </ion-card-header>
          <ion-card-content class="ion-no-margin ion-no-padding">
            <ion-grid class="ion-no-margin ion-no-padding">
              <ion-row *ngFor="let damageUnit of damageReport.damageDealers">
                <ion-col size="12" *ngIf="damageUnit.type == 'individual'">
                  <ion-grid *ngFor="let dpsEntry of damageUnit.dpsEntries">
                    <ion-row>
                      <ion-col>
                        <ion-item class="ion-no-padding">
                          <ion-label><strong>{{ dpsEntry.main.name }}</strong> Row: {{ dpsEntry.row+1 }} Column: {{
                            dpsEntry.column+1 }}</ion-label>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="4" *ngIf="dpsEntry.main.hasPhases == false">
                        <ion-item class="ion-no-padding">
                          <ion-label position="stacked"><strong>Base Damage</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.dpsInfo.newAttackDamage | number: '1.0-1' }} /
                            hit</ion-text>
                        </ion-item>
                      </ion-col>
                      <ion-col size="4" *ngIf="dpsEntry.main.hasPhases == false">
                        <ion-item class="ion-no-padding">
                          <ion-label position="stacked"><strong>Attack Speed</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.dpsInfo.newAttackSpeed | number }} / s</ion-text>
                        </ion-item>
                      </ion-col>
                      <ion-col size="4" *ngIf="dpsEntry.main.hasPhases == false">
                        <ion-item class="ion-no-padding">
                          <ion-label position="stacked"><strong>DPS</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.dpsInfo.dmgPerSecond | number: '1.0-1' }} /
                            s</ion-text>
                        </ion-item>
                      </ion-col>
                      <ion-col size="4" *ngIf="dpsEntry.main.hasPhases == false">
                        <ion-item class="ion-no-padding">
                          <ion-label position="stacked"><strong>Crit. Damage</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.dpsInfo.criticalDamage | number: '1.0-1' }} /
                            hit</ion-text>
                        </ion-item>
                      </ion-col>
                      <ion-col size="4" *ngIf="dpsEntry.main.hasPhases == false">
                        <ion-item class="ion-no-padding">
                          <ion-label position="stacked"><strong>Crit. Hits</strong> <em>({{
                              (dpsEntry.dpsInfo.totalCritChance * 100).toFixed(2) }}%)</em></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.dpsInfo.critHitsPerSecond | number }} /
                            s</ion-text>
                        </ion-item>
                      </ion-col>
                      <ion-col size="4" *ngIf="dpsEntry.main.hasPhases == false">
                        <ion-item class="ion-no-padding">
                          <ion-label position="stacked"><strong>Crit. DPS</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.dpsInfo.critDmgPerSecond | number: '1.0-1' }} /
                            s</ion-text>
                        </ion-item>
                      </ion-col>

                      <ion-col size="4"
                        *ngIf="dpsEntry.dpsInfo.totalPhaseLengthSeconds && dpsEntry.dpsInfo.totalPhaseLengthSeconds > 0">
                        <ion-item class="ion-no-padding" lines="none">
                          <ion-label position="stacked"><strong>Phase Length</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.dpsInfo.totalPhaseLengthSeconds | number: '1.0-1'
                            }}s</ion-text>
                        </ion-item>
                      </ion-col>

                      <ion-col size="4"
                        *ngIf="dpsEntry.dpsInfo.totalPhaseLengthSeconds && dpsEntry.dpsInfo.maxHitDamage > 0">
                        <ion-item class="ion-no-padding" lines="none">
                          <ion-label position="stacked"><strong>Max Hit Damage</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.dpsInfo.maxHitDamage | number: '1.0-1'
                            }} / hit</ion-text>
                        </ion-item>
                      </ion-col>

                      <ion-col size="4" *ngIf="dpsEntry.main.name == 'Boreas'">
                        <ion-item class="ion-no-padding" lines="none">
                          <ion-label position="stacked"><strong>Normal Phase DPS</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.dpsInfo.normalPhaseTotal /
                            dpsEntry.main.mainDpsActivationInterval | number: '1.0-1' }} for
                            {{dpsEntry.main.mainDpsActivationInterval}}s</ion-text>
                        </ion-item>
                      </ion-col>
                      <ion-col size="4" *ngIf="dpsEntry.main.name == 'Boreas'">
                        <ion-item class="ion-no-padding" lines="none">
                          <ion-label position="stacked"><strong>First Phase DPS</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.dpsInfo.firstPhaseTotal /
                            dpsEntry.main.mainDpsFirstPhase | number: '1.0-1' }} for
                            {{dpsEntry.main.mainDpsFirstPhase}}s</ion-text>
                        </ion-item>
                      </ion-col>
                      <ion-col size="4" *ngIf="dpsEntry.main.name == 'Boreas'">
                        <ion-item class="ion-no-padding" lines="none">
                          <ion-label position="stacked"><strong>Second Phase DPS</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.dpsInfo.secondPhaseTotal /
                            dpsEntry.main.mainDpsSecondPhase | number: '1.0-1' }} for
                            {{dpsEntry.main.mainDpsSecondPhase}}s</ion-text>
                        </ion-item>
                      </ion-col>

                      <ion-col size="4">
                        <ion-item class="ion-no-padding" lines="none">
                          <ion-label position="stacked"><strong>Total DPS</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.dpsInfo.total | number }}</ion-text>
                        </ion-item>
                      </ion-col>

                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-sm="12" size-md="4" size-xs="12">
        <ion-card class="ion-no-margin ion-no-padding">
          <ion-card-header style="text-align: left;" class="ion-no-margin ion-no-padding" style="padding: 5px;">
            <ion-item lines="none">
              <ion-label>
                <h1><strong>Config</strong></h1>
              </ion-label>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-grid class="ion-no-margin ion-no-padding">
              <ion-row>
                <ion-col size="3">
                  <a href="#/tabs/tab5" class="heroes" (click)="setItemConfig('heroes',$event)">
                    <ion-thumbnail style="--size: 65px;"><img
                        src="/assets/heroes/{{ boardService.activeHero }}.jpg"></ion-thumbnail>
                  </a>
                  <ion-chip size="xsmall" class="ion-text-capitalize ion-no-margin" color="primary">
                    {{ boardService.activeHero }}
                  </ion-chip>
                </ion-col>
                <ion-col size="3">
                  <a href="#/tabs/tab5" class="heroes" (click)="setItemConfig('armor', $event)">
                    <ion-thumbnail style="--size: 65px;"><img
                        src="/assets/armor/{{ boardService.activeArmor }}.jpg"></ion-thumbnail>
                  </a>
                  <ion-chip size="xsmall" class="ion-text-capitalize ion-no-margin" color="primary">
                    {{ boardService.activeArmor }}
                  </ion-chip>
                </ion-col>
                <ion-col size="3">
                  <a href="#/tabs/tab5" class="heroes" (click)="setItemConfig('weapons',$event)">
                    <ion-thumbnail style="--size: 65px;"><img
                        src="/assets/weapon/{{ boardService.activeWeapon }}.jpg"></ion-thumbnail>
                  </a>
                  <ion-chip size="xsmall" class="ion-text-capitalize ion-no-margin" color="primary">
                    {{ boardService.activeWeapon }}
                  </ion-chip>
                </ion-col>
                <ion-col size="3">
                  <a href="#/tabs/tab5" class="heroes" (click)="setItemConfig('amulets',$event)">
                    <ion-thumbnail style="--size: 65px;"><img
                        src="/assets/amulet/{{ boardService.activeAmulet }}.jpg"></ion-thumbnail>
                  </a>
                  <ion-chip size="xsmall" class="ion-text-capitalize ion-no-margin" color="primary">
                    {{ boardService.activeAmulet }}
                  </ion-chip>
                </ion-col>
                <ion-col size="3" *ngFor="let card of boardService.getUniqueCardsOnBoard(); let index = index;">
                  <!-- <a href="#/tabs/tab5"> -->
                  <ion-thumbnail style="--size: 65px;"><img
                      src="/assets/icons/{{ getCardName(card) }}.png"></ion-thumbnail>
                  <!-- </a> -->

                  <ion-chip size="xsmall" class="ion-no-margin" title="Damage"
                    *ngIf="getFieldMatters(card,'level') && getCardInfoById(card).type == 'dps'" color="primary">Lv.{{
                    getCardInfoById(card).level }}</ion-chip>

                  <ion-chip size="xsmall" class="ion-no-margin ion-no-padding" title="Damage"
                    *ngIf="card == 'demonhunter'" color="primary">
                    T. {{ getDemonHunterTiers() }}
                  </ion-chip>

                  <ion-chip size="xsmall" class="ion-no-margin" title="Damage Buff" *ngIf="card == 'witch_statue'"
                    color="primary">Dmg {{ getWitchBuff() }}%</ion-chip>

                  <ion-chip size="xsmall" class="ion-no-margin" title="Damage Buff" *ngIf="card == 'dryad'"
                    color="primary">Dmg {{ getDryadBuff() }}%</ion-chip>

                  <ion-chip size="xsmall" class="ion-no-margin" title="Damage Buff" *ngIf="card == 'sword'"
                    color="primary">Dmg {{ getSwordDmg(10) }}%</ion-chip>
                  <!-- Armor Destruction Buffs -->
                  <ion-chip size="xsmall" class="ion-no-margin" title="Armor Destruction Buff" *ngIf="card == 'chemist'"
                    color="secondary">Dmg {{ getChemistBuff() }}%</ion-chip>

                  <ion-chip size="xsmall" class="ion-no-margin" title="Armor Destruction Buff" *ngIf="card == 'trapper'"
                    color="secondary">Dmg {{ getTrapperBuff() }}%</ion-chip>

                  <!-- Speed Buffs -->
                  <ion-chip size="xsmall" class="ion-no-margin" title="Speed Buff" *ngIf="card == 'banner'"
                    color="warning">Spd {{ getBannerBuff() }}%</ion-chip>
                  <ion-chip size="xsmall" class="ion-no-margin" title="Speed Buff" *ngIf="card == 'knight_statue'"
                    color="warning">Spd {{ getKsSpeed() }}%</ion-chip>

                  <!-- Crit Buffs -->
                  <ion-chip size="xsmall" class="ion-no-margin" title="Crit Buff" *ngIf="card == 'knight_statue'"
                    color="success">Crit {{ getKsCrit() }}%</ion-chip>

                  <ion-chip size="xsmall" class="ion-no-margin" title="Speed Buff" *ngIf="card == 'sword'"
                    color="success">Crit {{ getSwordCrit(10) }}%</ion-chip>

                  <!-- <ion-chip size="xsmall" class="ion-no-margin" title="Speed Buff" *ngIf="card == 'grindstone'"
                    color="success">Crit {{ get(10) }}%</ion-chip> -->



                </ion-col>
                <ion-col size="2"></ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>