[size="small"] {
    height: 20px;
    font-size: 12px;
  }
  
  [size="xsmall"] {
    height: 18px;
    font-size: 11px;
  }

  ion-grid.board {
    border: 5px solid silver;
    margin: 5px;
  }

  ion-grid.board ion-col {
    border: 1px solid #ccc;
    min-height: 80px;
  }