<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Layout Tool
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-modal [isOpen]="isCardPickerOpen" (willDismiss)="dismissedCardPicker($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
          <ion-button (click)="clear()">Clear</ion-button>
        </ion-buttons>
        <ion-title>Pick Card</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let card of getCardsList();" size="4"
                style="text-align: center; vertical-align: middle;">
                <table>
                  <tr>
                    <td>
                      <img (click)="confirm(card)" src="/assets/icons/{{ card }}.png">
                    </td>
                  </tr>
                </table>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isCardOptionsOpen" (willDismiss)="dismissedCardOptions($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
          <ion-button (click)="clear()">Clear</ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
          <ion-button (click)="dismissedCardOptions($event)">Confirm</ion-button>
        </ion-buttons>
        <ion-title>Pick Options</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card>
        <ion-card-content class="ion-no-margin ion-no-padding" style="padding:2px;">
          <ion-grid>
            <ion-row>
              <ion-col *ngIf="getFieldMatters(activeTile.id, 'level')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Level</ion-label>
                  <ion-select placeholder="Level 9-12" [value]="deckConfig.level"
                    (ionChange)="changeDeckConfig($event,'level')">
                    <ion-select-option *ngFor="let level of levels;" [value]="level">{{ level }}</ion-select-option>
                  </ion-select>
                  <ion-buttons slot="end">
                    <ion-button color="primary" (click)="deckConfig.level = levels[0]">Min</ion-button>
                    <ion-button color="primary" (click)="deckConfig.level = levels[levels.length-1]">Max</ion-button>
                  </ion-buttons>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="getFieldMatters(activeTile.id, 'tier')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Tier</ion-label>

                  <ion-select placeholder="Pick Tier" [value]="deckConfig.tier"
                    (ionChange)="changeDeckConfig($event,'tier')">
                    <ion-select-option *ngFor="let tier of tiers;" [value]="tier">{{ tier }}</ion-select-option>
                  </ion-select>
                  <ion-buttons slot="end">
                    <ion-button color="primary" (click)="deckConfig.tier = tiers[0]">Min</ion-button>
                    <ion-button color="primary" (click)="deckConfig.tier = tiers[tiers.length-1]">Max</ion-button>
                  </ion-buttons>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="getFieldMatters(activeTile.id, 'talent')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Talent</ion-label>

                  <ion-select placeholder="Pick Talent" [value]="deckConfig.talent"
                    (ionChange)="changeDeckConfig($event,'talent')">
                    <ion-select-option value="none">none</ion-select-option>
                    <ion-select-option value="unity">Unity</ion-select-option>
                    <ion-select-option value="ronin">Ronin</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="getFieldMatters(activeTile.id, 'absorbs')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Absorbs</ion-label>
                  <ion-input [value]="deckConfig.absorbs" (ionChange)="changeDeckConfig($event,'absorbs')"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col
                *ngIf="((getFieldMatters(activeTile.id, 'merges') && deckConfig.name !== 'Grindstone') || (deckConfig.name == 'Grindstone' && deckConfig.activeTalents.indexOf('unstable_overheat') > -1))">
                <ion-item lines="none">
                  <ion-label position="stacked">Merges / Stacks</ion-label>
                  <ion-select placeholder="Merges" [value]="deckConfig.merges"
                    (ionChange)="changeDeckConfig($event,'merges')">
                    <ion-select-option *ngFor="let merge of cardMerges(deckConfig);" [value]="merge">{{ merge
                      }}</ion-select-option>
                  </ion-select>
                  <ion-buttons slot="end">
                    <ion-button color="primary" (click)="deckConfig.merges = cardMerges(deckConfig)[0]">Min</ion-button>
                    <ion-button color="primary"
                      (click)="deckConfig.merges = cardMerges(deckConfig)[cardMerges(deckConfig).length-1]">Max</ion-button>
                  </ion-buttons>

                </ion-item>
              </ion-col>

              <ion-col *ngIf="deckConfig.type == 'dps'">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Sword Stacks</ion-label>
                  <ion-select placeholder="Stacks" [value]="deckConfig.swordStacks"
                    (ionChange)="changeDeckConfig($event,'swordStacks')">
                    <ion-select-option *ngFor="let merge of cardMerges(cards.sword);" [value]="merge">{{ merge
                      }}</ion-select-option>
                  </ion-select>
                  <ion-buttons slot="end">
                    <ion-button color="primary"
                      (click)="deckConfig.swordStacks = cardMerges(cards.sword)[0]">Min</ion-button>
                    <ion-button color="primary"
                      (click)="deckConfig.swordStacks = cardMerges(cards.sword)[cardMerges(cards.sword).length-1]">Max</ion-button>
                  </ion-buttons>

                </ion-item>
              </ion-col>

              <ion-col *ngIf="getFieldMatters(activeTile.id, 'mainDpsBaseDamage')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Base Damage</ion-label>
                  <ion-input [value]="deckConfig.mainDpsBaseDamage"
                    (ionChange)="changeDeckConfig($event,'mainDpsBaseDamage')"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col *ngIf="deckConfig.name == 'Grindstone'">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Base Damage Buff</ion-label>
                  <ion-input [value]="deckConfig.damage" (ionChange)="changeDeckConfig($event,'damage')"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col *ngIf="deckConfig && deckConfig.talents && deckConfig.talents.length > 0">
                <ion-item class="ion-no-margin" *ngFor="let talent of deckConfig.talents">
                  <ion-label>{{ talent.label }}</ion-label>
                  <ion-checkbox [value]="talent.value" [checked]="deckConfig.activeTalents.indexOf(talent.value) > -1"
                    (ionChange)="changeDeckConfig($event,'activeTalents', true)"></ion-checkbox>
                </ion-item>
              </ion-col>


              <ion-col *ngIf="getFieldMatters(activeTile.id, 'mainDpsBaseSpeed')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Base Speed</ion-label>
                  <ion-input [value]="deckConfig.mainDpsBaseSpeed"
                    (ionChange)="changeDeckConfig($event,'mainDpsBaseSpeed')"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="getFieldMatters(activeTile.id, 'mainDpsBaseCrit')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Base Crit Chance</ion-label>
                  <ion-input [value]="deckConfig.mainDpsBaseCrit"
                    (ionChange)="changeDeckConfig($event,'mainDpsBaseCrit')"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col *ngIf="getFieldMatters(activeTile.id, 'mainDpsFirstPhase')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">First Phase Duration</ion-label>
                  <ion-input [value]="deckConfig.mainDpsFirstPhase"
                    (ionChange)="changeDeckConfig($event,'mainDpsFirstPhase')"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col *ngIf="getFieldMatters(activeTile.id, 'mainDpsSecondPhase')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Second Phase Duration</ion-label>
                  <ion-input [value]="deckConfig.mainDpsSecondPhase"
                    (ionChange)="changeDeckConfig($event,'mainDpsSecondPhase')"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col *ngIf="getFieldMatters(activeTile.id, 'mainDpsDamageIncrease')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Damage Increase</ion-label>
                  <ion-input [value]="deckConfig.mainDpsDamageIncrease"
                    (ionChange)="changeDeckConfig($event,'mainDpsDamageIncrease')"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col *ngIf="getFieldMatters(activeTile.id, 'mainDpsActivationInterval')">
                <ion-item lines="none" class="ion-no-margin">
                  <ion-label position="stacked">Activation Interval</ion-label>
                  <ion-input [value]="deckConfig.mainDpsActivationInterval"
                    (ionChange)="changeDeckConfig($event,'mainDpsActivationInterval')"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col *ngIf="getFieldMatters(activeTile.id, 'demonHunterEmpowered')">
                <ion-item lines="none">
                  <ion-label position="stacked">Demonic Empowered (40+)</ion-label>
                  <ion-checkbox [checked]="deckConfig.demonHunterEmpowered"
                    (ionChange)="changeDeckConfig($event,'demonHunterEmpowered', true)"></ion-checkbox>
                </ion-item>
              </ion-col>

            </ion-row>
          </ion-grid>
          <table class="ion-no-margin ion-no-padding" style="width: 100%; display:block; margin:0; padding: 0;">
            <tr *ngIf="deckConfig.talent == 'ronin' || deckConfig.talent == 'unity'">
              <td colspan="4">
                <ion-grid>
                  <ion-row>
                    <ion-col size-sm="4" size-md="4" size-xs="8">
                      <ion-item class="ion-no-padding">
                        <ion-text color="primary" size="small"><i>Damage&nbsp;</i></ion-text>
                        <ion-input [value]="getActiveTalentStat('damage')"
                          (ionChange)="changeTalentStat($event, 'damage')"></ion-input>%
                      </ion-item>
                    </ion-col>
                    <ion-col size-sm="4" size-md="4" size-xs="8">
                      <ion-item class="ion-no-padding">
                        <ion-text color="success" size="small"><i>Chance&nbsp;</i></ion-text>
                        <ion-input [value]="getActiveTalentStat('critChance')"
                          (ionChange)="changeTalentStat($event, 'critChance')"></ion-input>%
                      </ion-item>
                    </ion-col>
                    <ion-col size-sm="4" size-md="4" size-xs="8">
                      <ion-item class="ion-no-padding">
                        <ion-text color="tertiary" size="small"><i>Crit-Dmg&nbsp;</i></ion-text>
                        <ion-input [value]="getActiveTalentStat('critDamage')"
                          (ionChange)="changeTalentStat($event, 'critDamage')"></ion-input>%
                      </ion-item>
                    </ion-col>

                  </ion-row>
                </ion-grid>
              </td>
            </tr>
          </table>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-content>
  <!-- <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true" style="top: 5px;">
    <ion-fab-button>
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color="success" (click)="saveInfo()">
        <ion-icon name="save-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item class="ion-no-padding">
          <ion-label>Player Crit %</ion-label>
          &nbsp;
          <ion-input [value]="boardConfig.playerCrit" (ionChange)="changeBoardConfig($event,'playerCrit')"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-sm="4" size-md="4" size-xs="12">
        <ion-item class="ion-no-margin ion-no-padding">
          <ion-grid class="board">
            <ion-row *ngFor="let row of gridRows; let rowIndex = index;">
              <ion-col *ngFor="let value of row; let columnIndex = index;"
                (click)="clickedTile($event, rowIndex, columnIndex)" style="text-align:center;">
                <img *ngIf="gridRows[rowIndex][columnIndex].id != ''" id="tile_{{ rowIndex }}_{{ columnIndex }}"
                  src="/assets/icons/{{ gridRows[rowIndex][columnIndex].id }}.png">

                <ion-chip size="xsmall" class="ion-no-margin ion-no-padding" title="Damage"
                  *ngIf="gridRows[rowIndex][columnIndex].id == 'knight_statue'" color="primary">
                  Lv.{{ gridRows[rowIndex][columnIndex].level }}/T.{{ gridRows[rowIndex][columnIndex].tier }}
                </ion-chip>
                <ion-chip size="xsmall" class="ion-no-margin ion-no-padding" title="Stacks"
                  *ngIf="gridRows[rowIndex][columnIndex].id == 'witch_statue'" color="primary">
                  Lv.{{ gridRows[rowIndex][columnIndex].level }} Stacks {{ gridRows[rowIndex][columnIndex].merges }}
                </ion-chip>
                <ion-chip size="xsmall" class="ion-no-margin ion-no-padding" title="Damage"
                  *ngIf="gridRows[rowIndex][columnIndex].id == 'grindstone'" color="primary">
                  T.{{ gridRows[rowIndex][columnIndex].tier }}
                  <span *ngIf="gridRows[rowIndex][columnIndex].activeTalents.indexOf('unstable_overheat') > -1">
                    /Stacks {{ gridRows[rowIndex][columnIndex].merges }}
                  </span>
                  <span *ngIf="gridRows[rowIndex][columnIndex].activeTalents.indexOf('triple_overheat') > -1">
                    /3xOH
                  </span>
                </ion-chip>
                <ion-chip size="xsmall" class="ion-no-margin ion-no-padding" title="Stacks"
                  *ngIf="gridRows[rowIndex][columnIndex].type == 'dps'" color="primary">
                  {{ getCardInfoById(gridRows[rowIndex][columnIndex].id).mainDpsBaseDamage }} / hit
                </ion-chip>


                <ion-popover *ngIf="infoMode" trigger="tile_{{ rowIndex }}_{{ columnIndex }}" triggerAction="click">
                  <ng-template>
                    <ion-content class="ion-padding">
                      {{ gridRows[rowIndex][columnIndex].name }}<br>
                      <div *ngFor="let dpsInfo of gridRows[rowIndex][columnIndex].dpsEntries">
                        <strong>DPS</strong> {{ dpsInfo.total | number }}
                      </div>
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item lines="none">
          <ion-button color="danger" (click)="resetBoard()">Reset Board</ion-button>
          <ion-button [color]="infoMode? 'primary' : 'success'" (click)="infoMode = !infoMode;">Info Mode</ion-button>
          <ion-button color="tertiary" (click)="saveInfo()">Save Board</ion-button>

        </ion-item>
      </ion-col>
      <ion-col size-sm="4" size-md="4" size-xs="12">
        <ion-card class="ion-no-margin ion-no-padding">
          <ion-card-header style="text-align: left;" class="ion-no-margin ion-no-padding" style="padding: 5px;">
            <ion-item lines="none">
              <ion-label>
                <h1><strong>Items</strong></h1>
              </ion-label>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-grid class="ion-no-margin ion-no-padding">
              <ion-row>
                <ion-col size="3" *ngFor="let card of getUniqueCardsOnBoard(); let index = index;">
                  <a href="#/tabs/tab5">
                    <ion-thumbnail style="--size: 65px;"><img
                        src="/assets/icons/{{ getCardName(card) }}.png"></ion-thumbnail>
                  </a>

                  <!-- Damage Chips -->

                  <ion-chip size="xsmall" class="ion-no-margin" title="Damage"
                    *ngIf="card == 'inquisitor' || card == 'boreas' || card == 'sentry' || card == 'generic'"
                    color="primary">{{ getCardInfoById(card).mainDpsBaseDamage }} / hit</ion-chip>

                  <ion-chip size="xsmall" class="ion-no-margin" title="Damage Buff" *ngIf="card == 'grindstone'"
                    color="primary">Dmg {{ getCardInfoById('grindstone').damage }} pts</ion-chip>

                  <ion-chip size="xsmall" class="ion-no-margin" title="Damage Buff" *ngIf="card == 'witch_statue'"
                    color="primary">Dmg {{ getWitchBuff() }}%</ion-chip>

                  <ion-chip size="xsmall" class="ion-no-margin" title="Damage Buff" *ngIf="card == 'dryad'"
                    color="primary">Dmg {{ getDryadBuff() }}%</ion-chip>

                  <ion-chip size="xsmall" class="ion-no-margin" title="Damage Buff" *ngIf="card == 'sword'"
                    color="primary">Dmg {{ getSwordDmg(10) }}%</ion-chip>
                  <!-- Armor Destruction Buffs -->
                  <ion-chip size="xsmall" class="ion-no-margin" title="Armor Destruction Buff" *ngIf="card == 'chemist'"
                    color="secondary">Dmg {{ getChemistBuff() }}%</ion-chip>

                  <ion-chip size="xsmall" class="ion-no-margin" title="Armor Destruction Buff" *ngIf="card == 'trapper'"
                    color="secondary">Dmg {{ getTrapperBuff() }}%</ion-chip>

                  <!-- Speed Buffs -->
                  <ion-chip size="xsmall" class="ion-no-margin" title="Speed Buff" *ngIf="card == 'banner'"
                    color="warning">Speed {{ getBannerBuff() }}%</ion-chip>
                  <ion-chip size="xsmall" class="ion-no-margin" title="Speed Buff" *ngIf="card == 'knight_statue'"
                    color="warning">Speed {{ getKsSpeed() }}%</ion-chip>

                  <!-- Crit Buffs -->
                  <ion-chip size="xsmall" class="ion-no-margin" title="Crit Buff" *ngIf="card == 'knight_statue'"
                    color="success">Crit {{ getKsCrit() }}%</ion-chip>

                  <ion-chip size="xsmall" class="ion-no-margin" title="Speed Buff" *ngIf="card == 'sword'"
                    color="success">Crit {{ getSwordCrit(10) }}%</ion-chip>



                </ion-col>
                <ion-col size="2"></ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-sm="4" size-md="4" size-xs="12">
        <ion-card class="ion-no-margin ion-no-padding">
          <ion-card-header style="text-align: left;" class="ion-no-margin ion-no-padding" style="padding: 5px;">
            <ion-item lines="none" class="ion-no-margin ion-no-padding">
              <ion-label>
                <h1><strong>Stats</strong></h1>
              </ion-label>
            </ion-item>
          </ion-card-header>
          <ion-card-content class="ion-no-margin ion-no-padding">
            <ion-grid class="ion-no-margin ion-no-padding">
              <ion-row *ngFor="let damageUnit of damageReport()">
                <ion-col size="12" *ngIf="damageUnit.type == 'total'">
                  <ion-item>
                    <ion-label><strong>Combined Total DPS</strong></ion-label>
                    <ion-label>{{ damageUnit.totalDPS | number }}</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="12" *ngIf="damageUnit.type == 'individual'">
                  <ion-grid *ngFor="let dpsEntry of damageUnit.dpsEntries">
                    <ion-row>
                      <ion-col>
                        <ion-item class="ion-no-padding">
                          <ion-label><strong>{{ damageUnit.main.name }}</strong> Row: {{ damageUnit.row+1 }} Column: {{
                            damageUnit.column+1 }}</ion-label>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="4" *ngIf="damageUnit.main.hasPhases == false">
                        <ion-item class="ion-no-padding">
                          <ion-label position="stacked"><strong>Base Damage</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.newAttackDamage | number: '1.0-1' }} /
                            hit</ion-text>
                        </ion-item>
                      </ion-col>
                      <ion-col size="4" *ngIf="damageUnit.main.hasPhases == false">
                        <ion-item class="ion-no-padding">
                          <ion-label position="stacked"><strong>Attack Speed</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.newAttackSpeed | number }} / s</ion-text>
                        </ion-item>
                      </ion-col>
                      <ion-col size="4" *ngIf="damageUnit.main.hasPhases == false">
                        <ion-item class="ion-no-padding">
                          <ion-label position="stacked"><strong>DPS</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.dmgPerSecond | number: '1.0-1' }} /
                            s</ion-text>
                        </ion-item>
                      </ion-col>
                      <ion-col size="4" *ngIf="damageUnit.main.hasPhases == false">
                        <ion-item class="ion-no-padding">
                          <ion-label position="stacked"><strong>Crit. Damage</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.criticalDamage | number: '1.0-1' }} /
                            hit</ion-text>
                        </ion-item>
                      </ion-col>
                      <ion-col size="4" *ngIf="damageUnit.main.hasPhases == false">
                        <ion-item class="ion-no-padding">
                          <ion-label position="stacked"><strong>Crit. Hits</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.critHitsPerSecond | number }} /
                            s</ion-text>
                        </ion-item>
                      </ion-col>
                      <ion-col size="4" *ngIf="damageUnit.main.hasPhases == false">
                        <ion-item class="ion-no-padding">
                          <ion-label position="stacked"><strong>Crit. DPS</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.critDmgPerSecond | number: '1.0-1' }} /
                            s</ion-text>
                        </ion-item>
                      </ion-col>

                      <ion-col size="4"
                        *ngIf="dpsEntry.totalPhaseLengthSeconds && dpsEntry.totalPhaseLengthSeconds > 0">
                        <ion-item class="ion-no-padding" lines="none">
                          <ion-label position="stacked"><strong>Phase Length</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.totalPhaseLengthSeconds | number: '1.0-1'
                            }}s</ion-text>
                        </ion-item>
                      </ion-col>

                      <ion-col size="4" *ngIf="damageUnit.main.name == 'Boreas'">
                        <ion-item class="ion-no-padding" lines="none">
                          <ion-label position="stacked"><strong>Normal Phase DPS</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.normalPhaseTotal /
                            damageUnit.main.mainDpsActivationInterval | number: '1.0-1' }} for
                            {{damageUnit.main.mainDpsActivationInterval}}s</ion-text>
                        </ion-item>
                      </ion-col>
                      <ion-col size="4" *ngIf="damageUnit.main.name == 'Boreas'">
                        <ion-item class="ion-no-padding" lines="none">
                          <ion-label position="stacked"><strong>First Phase DPS</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.firstPhaseTotal /
                            damageUnit.main.mainDpsFirstPhase | number: '1.0-1' }} for
                            {{damageUnit.main.mainDpsFirstPhase}}s</ion-text>
                        </ion-item>
                      </ion-col>
                      <ion-col size="4" *ngIf="damageUnit.main.name == 'Boreas'">
                        <ion-item class="ion-no-padding" lines="none">
                          <ion-label position="stacked"><strong>Second Phase DPS</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.secondPhaseTotal /
                            damageUnit.main.mainDpsSecondPhase | number: '1.0-1' }} for
                            {{damageUnit.main.mainDpsSecondPhase}}s</ion-text>
                        </ion-item>
                      </ion-col>

                      <ion-col size="4">
                        <ion-item class="ion-no-padding" lines="none">
                          <ion-label position="stacked"><strong>Total DPS</strong></ion-label>

                          <ion-text style="padding: 2px">{{ dpsEntry.total | number }}</ion-text>
                        </ion-item>
                      </ion-col>

                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>