<!-- <ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Dark&Light Inquis Calculator
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-modal [isOpen]="isManagementOpen" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Export/Import Decks</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h1>Export Deck</h1>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button (click)="exportDeck(0)" expand="full">Deck 1</ion-button>
              </ion-col>
              
              <ion-col>
                <ion-button (click)="exportDeck(1)" expand="full">Deck 2</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h1>Import Deck</h1>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                  <ion-textarea placeholder="Paste export contents here" [(ngModel)]="importedDeckText"></ion-textarea>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button (click)="importDeck(0)" expand="full">Deck 1</ion-button>
              </ion-col>
              
              <ion-col>
                <ion-button (click)="importDeck(1)" expand="full">Deck 2</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true" style="top: 5px;">
    <ion-fab-button>
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color="success" (click)="saveInfo()">
        <ion-icon name="save-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary" (click)="cloneDeck(0, 1)">
        <ion-icon name="copy-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" (click)="cloneDeck(1, 0)">
        <ion-icon name="copy-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary" (click)="openManagement()">
        <ion-icon name="download-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-list>
    <!-- <ion-fab slot="fixed" vertical="top" horizontal="end">
      <ion-fab-button color="success" (click)="saveInfo()">
        <ion-icon name="save-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->

    <ion-item class="ion-no-padding ion-no-margin">
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col *ngFor="let deck of decks; let index = index;" size-xs="12" size-sm="12" size-md="12" size-lg="6">
            <ion-card style="padding:3px; margin:3px">
              <ion-card-content class="ion-no-margin ion-no-padding">
                <app-explore-container name="Deck {{ index + 1 }}" [deckConfig]="deck"></app-explore-container>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>
</ion-content>