<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-hide-sm-down">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label><h1>What is this?</h1></ion-label>
        </ion-item>
        <ion-item lines="none">
          <p>
            I'm a fan of the mobile game Rush Royale, I developed this tool to gain an edge while playing PvP. <br> 
            I plan to continue supporting this project in the future. <br>
            I am not dirrectly affiliated with Rush Royale at all.
          </p>
        </ion-item>
        <ion-item>
          <ion-label><h1>Contact Information</h1></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Discord username <strong>azimuthal-observer#4562</strong></ion-label>
        </ion-item>
        <ion-item>
          <ion-label><a
            href="https://discord.gg/qWutVMXU4K">Official Rush Royale Server</a></ion-label>
          <a
          href="https://discord.gg/qWutVMXU4K">https://discord.gg/qWutVMXU4K</a>
        </ion-item>
        <ion-item>
          <ion-label><a
            href="https://discord.gg/nP8ybtgAXm">ActiveMonsters clan Server</a></ion-label>
          <a
          href="https://discord.gg/nP8ybtgAXm">https://discord.gg/nP8ybtgAXm</a>
        </ion-item>
        <ion-item>
          <ion-label><h1>Support the Project</h1></ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Buy me a coffee</ion-label>
          <a href="https://www.paypal.com/donate/?hosted_button_id=Q3G3CW347GVVJ" target="_blank">
            <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif">
          </a> 
        </ion-item>
        <ion-item>
          <ion-label><h1>Copyright / Affiliations</h1></ion-label>
        </ion-item>
        <ion-item>
          <p>
              If you are the copyright holder of this or that material located on the RushRoyaleStatHub.com website and do not want to continue having it used on this site, 
              then I am ready to assist in removing this material, as well as discuss options in being able to use it. Please contact me on Discord. Thank you
          </p>
        </ion-item>
      </ion-list>
      <!-- <h1>Contact me</h1>
      <p>Find me on Discord <br>
        <strong>Official Rush Royale Server</strong>&nbsp;<a
          <br>
        <strong>My username</strong> azimuthal-observer#4562
      </p>

      <h1>Buy me a coffee</h1>

      <a href="https://www.paypal.com/donate/?hosted_button_id=Q3G3CW347GVVJ" target="_blank">
        <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif">
      </a> -->

    </ion-card-content>
  </ion-card>

</ion-content>